body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(../img/bg.png);
    display: inline-block;
    padding-top: 5em;
}


body {

  height: 100%;
  font-family: 'Ubuntu', Arial, sans-serif;
  #background: linear-gradient(270deg, #82c3fe, #2e74b4);
  #background-size: 400% 400%;
  background-color: #f4f4f4;
  background-image: url(../img/bg.png);

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}




@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.smart {
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
  border-color: #444;
  background-color: #333;
  width: 295px;
  height: 532px;
  border-radius: 40px;
  border: 2px solid #ddd;
  margin: 0 auto;
  padding: 60px 10px;
  position: relative;
  float: left;
  margin-left: 20em;
}

#acenzione-button {
	background-color: #333;

	height: 20px;
	left: -5px;
	top: 59px;
	border-radius: 4px 0 0 4px;

	width: 3px;
	background: #333;
	position: absolute;

}


#volume-su {
	height: 40px;
	width: 3px;
	left: -7px;
	top: 110px;
	border-radius: 4px 0 0 4px;

	width: 5px;
	background: #333;
	position: absolute;


}

#volume-giu {
	height: 40px;
	width: 3px;
	left: -7px;
	top: 155px;
	border-radius: 4px 0 0 4px;

	width: 5px;
	background: #333;
	position: absolute;



}


#dettaglio {
	position: absolute;
	left: 0;
	top: 17px;
	width: 100%;
}


#fotocamera {
	background: #111;
	height: 7px;
	width: 7px;
	margin: auto;

	border-radius: 100px;
	display: block;
}

#sensore {
	background: #111;
	height: 7px;
	width: 7px;
	margin: 12px 100px;

	border-radius: 100px;
	display: block;
}

#microfono {
	background: #111;
	height: 7px;
	width: 90px;
	margin: -19px auto 0;
	border-radius: 100px;
}


#schermo {
	height: 522px;
	width: 295px;
	background-color: #e3e3e3;
	box-shadow: 0 0 0 1px    rgba(0,0,0,0.1)inset;
	overflow: hidden;
	position: relative;

}


#bottone {
	height: 40px;
	width: 40px;
	background: #111;
	margin: 17px auto;
	border-radius: 100px;
}



.frame-posizione{

	margin-left: 0px;
	margin-right: -1px;
	display: block;
}



#header {
	#background: #272829;
	background: #434649;
	box-shadow: 1px 2px 7px #333;
}

.wrap {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}


#menu {
	position: relative;
	height: 60px;
}

.nome-app {
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.nome-app p {
    margin: 0 0;
    padding: 0 0;
}



main {
  max-width: 1024px;
  margin: auto;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1200px;
  align-content: center;
  max-width: 100%;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .produtos {
    flex-direction: row;
  }
}

.produto {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #eee;
  border: 5px solid #434649;
  font-size: 1em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  overflow: hidden;
}


table {
  border-collapse: collapse;
  color: #fff;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr{background-color: #434649;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #434649;
}


.estatisticas {
    width: 450px;
    float: left;
    margin: 12em 0 0 20em;
}

.estatisticas h2 {
    color: #fff
}